
body{
    background-color: #f6f8f9;
    margin: 0;
    padding: 0;
    font-family:'Roboto', sans-serif;
}
#logo{
    margin-left: 15px;
    vertical-align: middle;

}
#toboolist{
    
    font-size: 45px;
    color: #1f1f1f;
    vertical-align: middle;
    line-height: 50px;

}
header{
    background-color: white;
    
}
main{
    box-sizing: content-box;
    border-radius: 10px;
}
#task{
    background-color: #47adf1;
    border-radius: 7px;
    border: solid 1.5px grey;
    color: white;
    padding: 5px;
}
#section-button{
    background-color: #fefefe;
    border-radius: 7px;
    border: solid 1.5px grey;
    color: #cdd2d6;
    padding: 5px;
    
}
.buttons{
    border-bottom: solid lightgrey;
    padding: 15px 50px;
}
.container{
    
    width: 800px;
    padding: 20px;
    margin: 15px;
    background-color: #ffffff;
    border-radius: 10px;
    margin: auto;
    margin-top: 5px;
    }
.item{
    
    font-size: medium;
}
.editorial{
    background-color: #45abea;
    border-radius: 7px;
    padding: 5px;
    color: white;
    font-size: small;
}
.item::before{
    content: '\25BC';
}
.check{
    border: solid 1px #71c7b3;
    color: #71c7b3;
    border-radius: 50%;
}
.cross{
    border: solid 1px #eb5952;
    color: #eb5952;
    border-radius: 50%;
}
#goals{
    background-color: #9c72e4;
    border-radius: 7px;
    padding: 5px;
    color: white;
    font-size: small;
}

